<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/my-theme/css/style.css' | relative_url }}">
    <title>!!!!{{ page.title }}</title>
</head>
<body>
    <header>
        <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/about.html">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; {{ site.year }} {{ site.title }}</p>
    </footer>
</body>
</html>